aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.3.0
coloredlogs==15.0.1
discord-py==2.5.2
frozenlist==1.7.0
humanfriendly==10.0
idna==3.10
multidict==6.6.3
propcache==0.3.2
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.1
python-dotenv==1.1.1
typing-extensions==4.14.1
typing-inspection==0.4.1
yarl==1.20.1
